<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>管理中心 - 添加新记录 </title>
    <meta name="robots" content="noindex, nofollow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/Styles/general.css" rel="stylesheet" type="text/css" />
    <link href="/Styles/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <h1>
        <span class="action-span"><a href="/goods/index">数据列表</a></span>
        <span class="action-span1"><a href="__GROUP__">管理中心</a></span>
        <span id="search_id" class="action-span1"> - 添加新记录 </span>
        <div style="clear:both"></div>
    </h1>
    <div class="main-div">
        <form action="/goods/insert" method="post" name="theForm" enctype="multipart/form-data">
            <table width="100%" id="general-table">
                <tr>
                    <td class="label">商品名称:</td>
                    <td>
                        <input type='text' size="80" name='goods_name'>
                        <font color="red">*</font>
                    </td>
                </tr>
                <tr>
                    <td class="label">LOGO:</td>
                    <td>
                        <input type='text' size="80" name='logo'>
                        <font color="red">*</font>
                    </td>
                </tr>
                <tr>
                    <td class="label">是否上架:</td>
                    <td>
                        <input type="radio" name="is_on_sale" value="y" checked> 是
                        <input type="radio" name="is_on_sale" value="n"> 否
                        <font color="red">*</font>
                    </td>
                </tr>
                <tr>
                    <td class="label">商品描述:</td>
                    <td>
                        <textarea name="description" id="" cols="80" rows="10"></textarea>
                        <font color="red">*</font>
                    </td>
                </tr>
                <tr>
                    <td class="label">一级分类ID:</td>
                    <td>
                        <select name="cat1_id">
                            <?php foreach($topCat as $v): ?>
                            <option value="<?=$v['id']?>"><?=$v['cat_name']?></option>
                            <?php endforeach; ?>
                        </select>
                        <font color="red">*</font>
                    </td>
                </tr>
                <tr>
                    <td class="label">二级分类ID:</td>
                    <td>
                        <select name="cat2_id"></select>
                        <font color="red">*</font>
                    </td>
                </tr>
                <tr>
                    <td class="label">三级分类ID:</td>
                    <td>
                        <select name="cat3_id"></select>
                        <font color="red">*</font>
                    </td>
                </tr>
                <tr>
                    <td class="label">品牌ID:</td>
                    <td>
                        <input type='text' size="80" name='brand_id'>
                        <font color="red">*</font>
                    </td>
                </tr>
            </table>
            <div class="button-div">
                <input type="submit" value=" 确定 " />
                <input type="reset" value=" 重置 " />
            </div>
        </form>
    </div>

    <div id="footer">商城后台2016</div>

</body>

</html>
<script src="/Js/jquery.min.js"></script>
<script>
    // 三级联动
    $("select[name=cat1_id]").change(function(){
        // 取出这个分类的id
        var id = $(this).val();
        // 如果不为空就执行AJAX
        if(id != ''){
            $.ajax({
                type: "GET",
                url: "/goods/ajax_get_cat?id="+id,
                dataType: 'json',
                success: function(data){
                    var str = '';
                    for(var i=0;i<data.data.length;i++){
                        str += '<option value="'+data.data[i].id+'">'+data.data[i].cat_name+'</option>';
                    }
                    // 把拼好的字符串放到第二个下拉框中
                    $("select[name=cat2_id]").html(str);
                    // 触发第二个下拉框的 change 事件
                    $("select[name=cat2_id]").trigger('change');
                }
            })
        }
    });

    $("select[name=cat2_id]").change(function(){
        // 取出这个分类的id
        var id = $(this).val();
        // 如果不为空就执行AJAX
        if(id != ''){
            $.ajax({
                type: "GET",
                url: "/goods/ajax_get_cat?id="+id,
                dataType: 'json',
                success: function(data){
                    var str = '';
                    for(var i=0;i<data.data.length;i++){
                        str += '<option value="'+data.data[i].id+'">'+data.data[i].cat_name+'</option>';
                    }
                    // 把拼好的字符串放到第三个下拉框中
                    $("select[name=cat3_id]").html(str);
                    
                }
            })
        }
    });

    $("select[name=cat1_id]").trigger('change');
</script>